body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /*background-image:url("https://petapixel.com/assets/uploads/2015/03/MG_8950.jpg");*/
  background-image:url("https://cdn.pixabay.com/photo/2019/09/15/12/05/dna-4478127_1280.jpg");
  /*background-image: url("/assets/geralt-dna-4478127.jpg");*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: -1;
}

.app{
  display:flex;
  flex-direction:column;
  align-items:center;
  min-height:100vh;
  padding:40px 20px;
}

.card{
  width:600px;
  background:rgb(237, 236, 236);
  border-radius:12px;
  padding:35px;
  box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

.title{
  text-align:center;
  font-size:28px;
  margin-bottom:5px;
}

.subtitle{
  text-align:center;
  margin-bottom:25px;
  color:#666;
}

.upload-section{
  display:flex;
  flex-direction:column;
  gap:12px;
  align-items:center;
}

/* Upload button */

.upload-btn{
  background:#6c63ff;
  color:white;
  padding:12px 22px;
  border:none;
  border-radius:6px;
  font-weight:600;
  cursor:pointer;
  transition:0.2s;
}

.upload-btn:hover{
  background:#564fd8;
}

/* Analyze button */

.analyze-btn{
  background:#2a9d8f;
  color:white;
  padding:12px 22px;
  border:none;
  border-radius:6px;
  font-weight:600;
  cursor:pointer;
  transition:0.2s;
}

.analyze-btn:hover{
  background:#21867a;
}

.analyze-btn:disabled{
  background:#aaa;
  cursor:not-allowed;
}

.filename{
  font-size:14px;
}

.error{
  color:red;
}

.result{
  margin-top:25px;
}

.prediction{
  text-align:center;
  font-size:26px;
}

.pathogenic{
  color:#e63946;
}

.benign{
  color:#2ea294;
}

.uncertain{
  color:#e9c46a;
}

.confidence{
  text-align:center;
}

.model-box,
.shap-box{
  background:#f7f8fc;
  padding:15px;
  border-radius:8px;
  margin-top:15px;
}

.shap-item{
  display:flex;
  justify-content:space-between;
}

.results-title{
  text-align:center;
  margin-bottom:15px;
}

.table-container{
  max-height:350px;
  overflow-y:auto;
}

.variant-table{
  width:100%;
  border-collapse:collapse;
}

.variant-table th{
  background:#f1f3f9;
  padding:10px;
  font-weight:600;
}

.variant-table td{
  padding:10px;
  text-align:center;
  border-bottom:1px solid #eee;
}

.variant-row{
  cursor:pointer;
  transition:0.2s;
}

.variant-row:hover{
  background:#f9f9ff;
}

.shap-row td{
  background:#f7f8fc;
}

.shap-box{
  padding:15px;
}

.shap-item{
  display:flex;
  justify-content:space-between;
  padding:4px 0;
}

.clinvar-disease{
  margin-top:10px;
  padding:8px;
  background:#ffe5e5;
  border-left:4px solid #e63946;
  border-radius:4px;
  font-size:14px;
  color:#b00020;
}

.variant-table td:last-child {
  font-weight: 600;
  color: #b00020;
}

.download-btn{
  background:#457b9d;
  color:white;
  padding:10px 18px;
  border:none;
  border-radius:6px;
  font-weight:600;
  cursor:pointer;
  transition:0.2s;
  margin-bottom:15px;
}

.download-btn:hover{
  background:#35627d;
}
.info-section{
  width:600px;
  margin-top:40px;
}

.info-title{
  text-align:center;
  color:white;
  margin-bottom:20px;
}

.info-cards{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
}

.info-card{
  background:white;
  padding:18px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.footer{
  margin-top:30px;
  text-align:center;
}

.github-title{
  color:white;
  font-size:16px;
}

.github-link{
  color:white;
  font-weight:600;
  text-decoration:none;
}

.github-link:hover{
  text-decoration:underline;
}